# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.pytest_cache/
.mypy_cache/

# Frontend dependencies and temporary build output
node_modules/
.build/

# Virtual environments
.venv/
venv/
ENV/
portfolio_project/

# Django
*.log
local_settings.py
staticfiles/
media/

# Editor/OS
.DS_Store
Thumbs.db
